{
  "singleQuote": true,
  "printWidth": 100,
  "trailingComma": "none",
  "endOfLine": "lf",
  "bracketSpacing": false,
  "overrides": [
    {
      "files": ["*.json", "*.jsonc", "*.json5"],
      "options": {
        "parser": "json"
      }
    },
    {
      "files": ["*.ts", "*.tsx"],
      "options": {
        "parser": "typescript"
      }
    }
  ]
}
